{% comment %}
  ------  This part added by David O'Reilly of SuperFighterDesign - info@superfighterdesign.com - 26 October 2022 ------
{% endcomment %}


.sfd-mydownloads a:hover {
    color: rgb(var(--color-link));
    text-decoration-thickness: .2rem;
}











@media (max-width: 479px) {
  .show-on-desktop, .show-on-tablets, .hide-on-mobile { display: none; }
}
@media (min-width: 480px) and (max-width: 979px) {
  .show-on-desktop, .hide-on-tablets, .show-on-mobile { display: none; }
}
@media (min-width: 980px) {
  .hide-on-desktop, .show-on-tablets, .show-on-mobile { display: none; }
}
@media (min-width: 980px) {
  .mobile-friendly-video { padding: 30px; }
}
@media (max-width: 880px) {
  .sfd-video { width: 100%; }
}
  


/* Account/Order */
:is(.account, .order) {
  margin: 6rem auto 9rem;
  max-width: var(--page-width);
  padding: 0 2rem;
}

@media screen and (min-width: 750px) {
  :is(.account, .order) {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) {
    display: flex;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 990px) {
  :is(.account, .order) > div:nth-of-type(2) > div:first-of-type {
    flex-grow: 1;
    padding-right: 3.2rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .order > div:nth-of-type(2) > div:last-of-type {
    display: flex;
  }

  .order > div:nth-of-type(2) > div:last-of-type div {
    padding-right: 3.2rem;
  }
}


.sfd-underlined-link:hover, .customer a:hover {
    color: rgb(var(--color-link));
    text-decoration-thickness: .2rem;
}


:is(.account, .order) p {
  margin: 0 0 2rem;
  font-size: 1.6rem;
}

:is(.account, .order) h1 {
  margin-bottom: 1rem;
}

:is(.account, .order) h2 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  :is(.account, .order) h2 {
    margin-top: 0;
  }
}

.account h1 + a {
  display: inline-flex;
  align-items: center;
}

.account a svg {
  width: 1.5rem;
  margin-bottom: -0.03rem;
  margin-right: 1rem;
}

@media screen and (min-width: 750px) {
  .account thead th:last-child,
  .account td:last-child {
    text-align: right;
  }

  .account table td:first-of-type {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}




{% comment %}
  ------End of edit by David O'Reilly of SuperFighterDesign - info@superfighterdesign.com:
{% endcomment %}


cart-items {
  display: block;
}

.sfd-mydownloads a:hover {
    color: rgb(var(--color-link));
    text-decoration-thickness: .2rem;
}

.sfd-mydownloads-items {
  position: relative;
  padding-bottom: 3rem;
  /*border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);*/
}


.mydownloads-item {
    position: relative;
    display: flex;
    padding: .9375rem;
    margin-bottom: 1.25rem;
    overflow: hidden;
    transition: all .2s cubic-bezier(0, 0, .2, 1);
}

#shopify-product-reviews, .account-address, .article--excerpt-wrapper, .mydownloads-item, .disclosure-list, .featured-product--container .featured-product--inner, .menulist-inner, .productitem, .pxs-map-card, .pxs-map-section-layout-x-outside-left .pxs-map-card-wrapper, .pxs-map-section-layout-x-outside-right .pxs-map-card-wrapper, .pxs-map-wrapper, .pxs-newsletter-text table, .rte table, .twitter--inner .flickity-slider, .twitter--inner:not(.flickity-enabled) {
    border: 1px solid rgba(128,128,128,.16);
    box-shadow: 0 1px 4px rgba(128,128,128,.11);
}


.mydownloads-item {
  opacity: .8;
}

.mydownloads-item--image-wrapper {
  width: 75px;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .mydownloads-item--image-wrapper {
    width: 120px;
  }
}

.mydownloads-item--image-wrapper svg,
.mydownloads-item--image-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.mydownloads-item--inner {
  width: calc(100% - 75px);
}
  
  
@media screen and (min-width: 720px) {
  .cartitems--container:not(.has-sidebar) .mydownloads-item--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
  }
}
 
  

@media screen and (max-width: 479px) {
  .cartitems--container:not(.has-sidebar) .mydownloads-item--inner {
    width: calc(100% - 75px);
  }
}

@media screen and (max-width: 479px) {
  .cartitems--container.has-sidebar .mydownloads-item--inner {
    width: calc(100% - 75px);
  }
}

@media screen and (max-width: 859px) and (min-width: 720px) {
  .cartitems--container.has-sidebar .mydownloads-item--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
  }
}

@media screen and (min-width: 1024px) {
  .cartitems--container.has-sidebar .mydownloads-item--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
  }
}



.mydownloads-item--content {
    padding-left: 1.25rem;
}

@media screen and (max-width: 1023px) and (min-width: 860px) {
  .cartitems--container.has-sidebar .mydownloads-item--content {
    margin-bottom: {{ space_large | divided_by: 16.0 | append: 'rem' }};
  }
}

.mydownloads-item--content .discount-list-item svg {
  height: 0.625rem;
  width: 0.625rem;
}

.mydownloads-item--content-title {
  font-size: var(--font-size-heading-5);
  margin-top: 0;
  margin-bottom: {{ space_xx_small | divided_by: 16.0 | append: 'rem' }};
  color: {{ settings.color_headings }};
}

.mydownloads-item--content-title a {
  color: currentColor;
  text-decoration: none;
}

.mydownloads-item--product-options,
.mydownloads-item--content-price,
.mydownloads-item--unit-price {
  line-height: 1.5;
  font-size: var(--font-size-body-smaller);
  color: {{ settings.color_text | color_modify: 'alpha', 0.8 }};
}

.mydownloads-item--unit-price {
  font-size: var(--font-size-body-smallest);
}

.mydownloads-item--option-name,
.mydownloads-item--price-title {
  font-style: {{ fonts_type_body_style }};
  font-weight: {{ fonts_type_body_weight_bolder }};
}

.mydownloads-item--sale-price {
  color: {{ settings.color_text_light }};
  text-decoration: line-through;
}

.mydownloads-item--discount-price {
  color: {{ settings.color_product_sale_accent }};
}

.mydownloads-item--unit-price.hidden {
  display: none;
}

.mydownloads-item--info {
    position: relative;
    padding-right: 0;
    padding-left: 1.25rem;
    margin-top: 1rem;
}

@media screen and (min-width: 560px) {
  .mydownloads-item--info {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 720px) {
  .mydownloads-item--info {
    margin-top: 0;
  }
}

.mydownloads-item--sku {
  font-size: 0.8125rem;
  line-height: 1.5;
  color: {{ settings.color_text_light }};
}

.mydownloads-item--sku-empty {
  display: none;
}

.mydownloads-item--quantity,
.mydownloads-item--total,
.mydownloads-item--remove {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: {{ space_x_small | divided_by: 16.0 | append: 'rem' }};
}

.mydownloads-item--quantity {
  width: 100%;
  max-width: calc(7.1875rem + {{ space_medium | divided_by: 16.0 | append: 'rem' }});
  min-width: calc(7.1875rem + {{ space_medium | divided_by: 16.0 | append: 'rem' }});
  padding-right: {{ space_medium | divided_by: 16.0 | append: 'rem' }};
  padding-left: 0;
}

.mydownloads-item--total {
  font-size: var(--font-size-heading-5);
  padding-right: calc({{ space_medium | divided_by: 16.0 | append: 'rem' }} + 1.25rem);
  color: {{ settings.color_text }};
  text-align: left;
  white-space: nowrap;
}

.mydownloads-item--total .original-price {
  color: {{ settings.color_text_light }};
}

.mydownloads-item--total .original-price,
.mydownloads-item--total .mydownloads-item--discount-price {
  line-height: 1.3;
}

@media screen and (min-width: 560px) {
  .mydownloads-item--total {
    padding-right: 0;
    text-align: right;
  }
}

@media screen and (min-width: 720px) {
  .mydownloads-item--total {
    min-width: 7.5rem;
  }
}

.mydownloads-item--remove {
  position: absolute;
  right: 0;
  bottom: 0;
  width: {{ space_medium | divided_by: 16.0 | append: 'rem' }};
  text-align: right;
}

@media screen and (min-width: 560px) {
  .mydownloads-item--remove {
    position: relative;
    right: auto;
    bottom: auto;
    flex-grow: 0;
    width: calc(({{ space_medium | divided_by: 16.0 | append: 'rem' }} * 2) + 1.25rem);
    max-width: 33.33333%;
    padding-left: calc({{ space_medium | divided_by: 16.0 | append: 'rem' }} * 2);
  }
}

.mydownloads-item--remove-link {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  padding: 5px;
  transition: color 125ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mydownloads-item--remove-link:hover {
  color: {{ settings.color_links }};
  
}

.mydownloads-item--remove-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: {{ settings.color_text | color_modify: 'alpha', 0.2 }};
  border-radius: 100%;
  transition: transform 125ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mydownloads-item--remove-link:hover:before {
  transform: scale(1.1);
}

.mydownloads-item--remove-link svg {
  position: relative;
  display: block;
  fill: currentColor;
}

.mydownloads-item {
  border: 1px solid {{ color_border | color_modify: 'alpha', 0.16 }};
  box-shadow: 0 1px 4px {{ color_border | color_modify: 'alpha', 0.11 }};
}

.mydownloads-item--image-wrapper {
  width: 75px;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .mydownloads-item--image-wrapper {
    width: 120px;
  }
}

.mydownloads-item--image-wrapper svg,
.mydownloads-item--image-wrapper img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.mydownloads-item--inner {
  width: calc(100% - 75px);
}

.mydownloads-item--inner {
  width: calc(100% - 75px);
}

@media screen and (min-width: 480px) {
  .mydownloads-item--inner {
    width: calc(100% - 120px);
  }
}

@media screen and (min-width: 720px) {
  .cartitems--container:not(.has-sidebar) .mydownloads-item--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
  }
}

@media screen and (max-width: 479px) {
  .cartitems--container:not(.has-sidebar) .mydownloads-item--inner {
    width: calc(100% - 75px);
  }
}

@media screen and (max-width: 479px) {
  .cartitems--container.has-sidebar .mydownloads-item--inner {
    width: calc(100% - 75px);
  }
}

@media screen and (max-width: 859px) and (min-width: 720px) {
  .cartitems--container.has-sidebar .mydownloads-item--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
  }
}

@media screen and (min-width: 1024px) {
  .cartitems--container.has-sidebar .mydownloads-item--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 120px);
  }
}

.mydownloads-item--content {
  padding-left: {{ space_medium | divided_by: 16.0 | append: 'rem' }};
}

@media screen and (max-width: 1023px) and (min-width: 860px) {
  .cartitems--container.has-sidebar .mydownloads-item--content {
    margin-bottom: {{ space_large | divided_by: 16.0 | append: 'rem' }};
  }
}

.mydownloads-item--content .discount-list-item svg {
  height: 0.625rem;
  width: 0.625rem;
}

.mydownloads-item--content-title {
  font-size: var(--font-size-heading-5);
  margin-top: 0;
  margin-bottom: {{ space_xx_small | divided_by: 16.0 | append: 'rem' }};
  color: {{ settings.color_headings }};
}

.mydownloads-item--content-title a {
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
}

.mydownloads-download-link a {
  color: currentColor;
  text-size: 0.7rem;
}

.mydownloads-item--product-options,
.mydownloads-item--content-price,
.mydownloads-item--unit-price {
  line-height: 1.5;
  font-size: var(--font-size-body-smaller);
  color: {{ settings.color_text | color_modify: 'alpha', 0.8 }};
}
  
