<div>
  <h2>Please enter your redemption code below</h2>
</div>

<div id="pre-sell_form" style="display: flex; flex-direction: row;">
  <input
    type="text"
    id="redeem-code"
    name="redeem-code"
    placeholder="Enter your redemption code"
    class="search__input field__input "
    style="width:100%; max-width: 250px !important; color:black !important; padding-top:8px; margin-right:10px;"
    required
  >
  <button
    class="cta-sign-out redeem-button"
    style="outline:none !important;border:none !important; box-shadow:none !important;border-radius: 50px; padding 10px 15px;"
  >
    Redeem
  </button>
</div>
<p id="return-msg"></p>

<script>
  // Self-invoking function
  (function () {
    const redeemCode = document.getElementById('redeem-code');
    const redeemButton = document.querySelector('.redeem-button');

    redeemButton.addEventListener('click', function (e) {
      const code = redeemCode.value;

      document.getElementById(
        'return-msg'
      ).innerHTML = `Attempting to redeem code: ${code}, please wait a few seconds...`;

      fetch('https://alakazam-app.uncvr.co.uk/activate', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ code, customerEmail: '{{ customer.email }}', customerId: '{{ customer.id }}' }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success == true) {
            document.getElementById(
              'return-msg'
            ).innerHTML = `You have successfully redeemed, ${data.products.product_title}`;
            document.getElementById('return-msg').style.color = 'black';
          } else if (data.success == false) {
            document.getElementById('return-msg').innerHTML = `Invalid code, please try again`;
            document.getElementById('return-msg').style.color = 'red';
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    });
  })();
</script>
